<link href="../css/about.css" rel="stylesheet">
<div class="bodyText">
    <span class="title">Team Members (SWEtify)</span>
    <div class="aboutSection" ng-controller="AboutCtrl">
        <div class="row innerRow">
            <div ng-repeat="member in teamMembers" class="col-md-5ths profile col-margin">
                <img class="headshot" ng-src="{{member.imgSrc}}">
                <span class="name">{{member.name}}</span>
                <ul class="list-unstyled statsList">
                    <li>{{member.commits}} commits</li>
                    <li>{{member.issues}} issues</li>
                    <li>{{member.unitTests}} unit tests</li>
                    <li><br>{{member.responsibilities}}</li>
                    <li><br>{{member.bio}}</li>
                </ul>
            </div>
        </div>
    </div>
    <hr>
    <span class="title">Team Statistics</span>
    <div class="aboutSection">
        <div class="row innerRow">
            <div class="col-md-4">
                Total Number of Commits: {{totalCommits}}
            </div>
            <div class="col-md-4">
                Total Number of Issues: {{totalIssues}}
            </div>
            <div class="col-md-4">
                Total Number of Unit Tests: {{totalUnitTests}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <a href="http://docs.sweetmusic.apiary.io" class="btn btn-primary clearBtn">Apiary API</a>
            </div>
            <div class="col-sm-3">
                <a href="https://github.com/kristinedomingo/cs373-idb/issues" class="btn btn-primary clearBtn">GitHub Issue Tracker</a>
            </div>
            <div class="col-sm-3">
                <a href="https://github.com/kristinedomingo/cs373-idb" class="btn btn-primary clearBtn">GitHub Repository</a>
            </div>
            <div class="col-sm-3">
                <a href="https://github.com/kristinedomingo/cs373-idb/wiki" class="btn btn-primary clearBtn">GitHub Wiki</a>
            </div>
        </div>
    </div>
    <hr>
    <span class="title">Data Sources</span>
    <div class="aboutSection">
        <div class="row">
            <div class="col-md-6">
                <a href="https://developer.spotify.com/web-api/">Spotify Web API</a>
                <br>This website's main data source. It provided information on
                    three main models (albums, artists, tracks) as well as
                    embedded widgets that allow the user to play selected tracks.
            </div>
            <div class="col-md-6">
                <a href="http://developer.echonest.com/docs/v4">Echo Nest API</a>
                <br>A secondary data source that provided a lot of information
                    about artists, including their biographies and recent news
                    articles concerning them.
            </div>
        </div>
    </div>
    <hr>
    <span class="title">Tools Used</span>
    <div class="aboutSection">
        <div class="row innerRow">
            <div class="col-md-3">
                <a href="http://getbootstrap.com/">Bootstrap</a>
                <br>An HTML, CSS, and JavaScript framework used heavily to
                    design and style all of the pages of the site.
            </div>
            <div class="col-md-3">
                <a href="https://angularjs.org/">AngularJS</a>
                <br>A Javascript framework that handles the dynamic views and
                    routing of this web application.
            </div>
            <div class="col-md-3">
                <a href="http://flask.pocoo.org/">Flask</a>
                <br>A Python web framework that powers this web application.
            </div>
            <div class="col-md-3">
                <a href="http://www.sqlalchemy.org/">SQLAlchemy</a>
                <br>A Python SQL toolkit. 
            </div>
        </div>
        <div class="row innerRow">
            <div class="col-md-3">
                <a href="https://getcarina.com/">Carina by Rackspace</a>
                <br>A native container environment that hosts this web
                    application.
            </div>
            <div class="col-md-3">
                <a href="https://apiary.io/">Apiary</a>
                <br>An API documentation tool. The documentation for this
                    project's API can be found at 
                    <a href="http://docs.sweetmusic.apiary.io">docs.sweetmusic.apiary.io</a>
            </div>
            <div class="col-md-3">
                <a href="https://slack.com/">Slack</a>
                <br>A messaging application with several helpful features such
                    as <a href="https://travis-ci.com/">TravisCI</a> integration
                    and <a href="https://github.com/">GitHub</a> integration.
            </div>
            <div class="col-md-3">
                <a href="https://github.com/">GitHub</a>
                <br>A web-based git repository hosting service that hosts the
                    repository for this project.
            </div>
        </div>
        <div class="row innerRow">
            <div class="col-md-3">
                <a href="https://angular-ui.github.io/bootstrap">UI Bootstrap</a>
                <br>Bootstrap components written in pure AngularJS by the
                    AngularUI Team.
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>
    <hr>
    <span class="title">Run Tests</span>
    <div class="aboutSection">
        <a href="" class="btn btn-primary clearBtn" ng-click="runTests()">Run Unit Tests</a>
        <pre>{{testOutput}}</pre>
    </div>
    <hr>
    <span class="title">Credits</span>
    <div class="aboutSection">
        Logo from
        <a href='http://www.freepik.com/free-vector/retro-music-brand-logos_814242.htm'>
            Freepik</a> (modified for this website's use).
    </div>
</div>