<div class="bodyText">
    <span class="title">Team Members</span>
    <div class="aboutSection" ng-controller="AboutCtrl">
        <div class="row innerRow">
            <div ng-repeat="member in teamMembers" class="col-md-4 profile col-margin">
                <img class="headshot" src="imgs/headshot.png">
                <span class="name">{{member.name}}</span>
                <ul class="list-unstyled statsList">
                    <li>{{member.commits}} commits</li>
                    <li>{{member.issues}} issues</li>
                    <li>{{member.unitTests}} unit tests</li>
                    <li><br>{{member.responsibilities}}</li>
                    <li><br>{{member.bio}}</li>
                </ul>
            </div>
        </div>
    </div>
    <span class="title">Team Statistics</span>
    <div class="aboutSection">
        <div class="row innerRow">
            <div class="col-md-4">
                Total Number of Commits: {{totalCommits}}
            </div>
            <div class="col-md-4">
                Total Number of Issues: {{totalIssues}}
            </div>
            <div class="col-md-4">
                Total Number of Unit Tests: {{totalUnitTests}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <a href="#" class="btn btn-primary clearBtn">Apiary API</a>
            </div>
            <div class="col-sm-3">
                <a href="#" class="btn btn-primary clearBtn">GitHub Issue Tracker</a>
            </div>
            <div class="col-sm-3">
                <a href="#" class="btn btn-primary clearBtn">GitHub Repository</a>
            </div>
            <div class="col-sm-3">
                <a href="#" class="btn btn-primary clearBtn">GitHub Wiki</a>
            </div>
        </div>
    </div>
    <span class="title">Data Sources</span>
    <div class="aboutSection">
        <div class="row">
            <div class="col-md-4">
                <a href="#">Data Source #1</a>
                <br> This is a description of how this data source was used. It would probably include where it was used and for what purpose.
            </div>
            <div class="col-md-4">
                <a href="#">Data Source #2</a>
                <br> This is a description of how this data source was used. It would probably include where it was used and for what purpose.
            </div>
            <div class="col-md-4">
                <a href="#">Data Source #3</a>
                <br> This is a description of how this data source was used. It would probably include where it was used and for what purpose.
            </div>
        </div>
    </div>
    <span class="title">Tools Used</span>
    <div class="aboutSection">
        <div class="row innerRow">
            <div class="col-md-3">
                <a href="#">Tool</a>
                <br> What this tool was used for
            </div>
            <div class="col-md-3">
                <a href="#">Tool</a>
                <br> What this tool was used for
            </div>
            <div class="col-md-3">
                <a href="#">Tool</a>
                <br> What this tool was used for
            </div>
            <div class="col-md-3">
                <a href="#">Tool</a>
                <br> What this tool was used for
            </div>
        </div>
        <div class="row innerRow">
            <div class="col-md-3">
                <a href="#">Tool</a>
                <br> What this tool was used for
            </div>
            <div class="col-md-3">
                <a href="#">Tool</a>
                <br> What this tool was used for
            </div>
            <div class="col-md-3">
                <a href="#">Tool</a>
                <br> What this tool was used for
            </div>
            <div class="col-md-3">
                <a href="#">Tool</a>
                <br> What this tool was used for
            </div>
        </div>
    </div>
    <span class="title">Credits</span>
    <div class="aboutSection">
        Logo from
        <a href='http://www.freepik.com/free-vector/retro-music-brand-logos_814242.htm'>
            Freepik</a> (modified for this website's use).
    </div>
</div>