<link href="../css/album-details.css?version=5.0" rel="stylesheet">
<div class="bodyText">
    <div ng-controller="AlbumDetailsCtrl">
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <div class="boxSection">
                            <span id="albumTitle">{{targetAlbum.name}}</span>
                            <img id="albumCover" src="{{albumCover}}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="boxSection">
                            <span class="boxTitle">Details</span>
                            <table>
                                <tr>
                                    <td class="headerCol">By:</td>
                                    <td>
                                        <span ng-repeat="artist in artists">
                                            <a href="#/artists/{{artist.id}}">{{artist.name}}</a>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="headerCol">Release Date:</td>
                                    <td>{{targetAlbum.release_date}}</td>
                                </tr>
                                <tr>
                                    <td class="headerCol">Number of Tracks:</td>
                                    <td>{{targetAlbum.num_tracks}}</td>
                                </tr>
                                <tr>
                                    <td class="headerCol">Length:</td>
                                    <td>{{targetAlbum.length}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <div class="boxSection" id="widgetSection">
                            <span class="boxTitle">Play on Spotify</span>
                            <iframe ng-src="{{widget}}" frameborder="0" allowtransparency="true" height="380"></iframe>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="boxSection">
                            <span class="boxTitle">Track Listing</span>
                            <table class="table">
                                <tr>
                                    <th>Title</th>
                                    <th>Duration</th>
                                </tr>
                                <tr ng-repeat="track in tracks" class="trackListing">
                                    <td>
                                        <a href="#/tracks/{{track.id}}">{{track.name}}</a>
                                    </td>
                                    <td>{{track.duration_ms}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>