<link href="../css/albums.css" rel="stylesheet">
<div class="bodyText">
    <span class="title">Albums</span>
    <div ng-controller="AlbumTableCtrl">
        <table class="table albumTable">
            <tr>
                <th id="albumCoverHeader"></th>
                <th id="albumCol">
                    <a href="" ng-click="sortType = 'album_name' ; sortReverse = !sortReverse; sort()">Album Name</a>
                    <span ng-show="sortType == 'album_name' && sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'album_name' && !sortReverse" class="fa fa-caret-up"></span>
                </th>
                <th id="artistCol">
                    <a href="" ng-click="sortType = 'artist_name'; sortReverse = !sortReverse; sort()">Artist Name</a>
                    <span ng-show="sortType == 'artist_name' && sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'artist_name' && !sortReverse" class="fa fa-caret-up"></span>
                </th>
                <th id="releaseDateCol">
                    <a href="" ng-click="sortType = 'release_date' ; sortReverse = !sortReverse; sort()">Release Date</a>
                    <span ng-show="sortType == 'release_date' && sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'release_date' && !sortReverse" class="fa fa-caret-up"></span>
                </th>
                <th id="numTracksCol">
                    <a href="" ng-click="sortType = 'num_tracks' ; sortReverse = !sortReverse; sort()">Number of Tracks</a>
                    <span ng-show="sortType == 'num_tracks' && sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'num_tracks' && !sortReverse" class="fa fa-caret-up"></span>
                </th>
                <th id="lengthCol">
                    <a href="" ng-click="sortType = 'length' ; sortReverse = !sortReverse; sort()">Length</a>
                    <span ng-show="sortType == 'length' && sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'length' && !sortReverse" class="fa fa-caret-up"></span>
                </th>
            </tr>
            <tr ng-repeat="album in all_albums">
                <td>
                    <a href="#/albums/{{album.id}}">
                        <img class="albumCover" ng-src={{album.col_img.url}}>
                        <span class="detailsLink">Details</span>
                    </a>
                </td>
                <td>{{album.name}}</td>
                <td>{{album.artist_name}}</td>
                <td>{{album.release_date}}</td>
                <td>{{album.num_tracks}}</td>
                <td>{{album.length}}</td>
            </tr>
        </table>
        <uib-pagination
            ng-model="pageNumber"
            total-items="totalAlbums"
            max-size="maxSize"
            boundary-links="true"
            ng-change="changePage()">
        </uib-pagination>
    </div>
</div>