<div class="bodyText">
    <span class="title">Albums</span>
    <div ng-controller="AlbumTableCtrl">
        <table class="table" id="albumTable">
            <tr>
                <th id="albumCoverHeader"></th>
                <th>
                    <a href="" ng-click="sortType = 'name' ; sortReverse = !sortReverse">Album Name</a>
                    <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-up"></span>
                </th>
                <th>
                    <a href="" ng-click="sortType = 'artist_name'; sortReverse = !sortReverse">Artist Name</a>
                    <span ng-show="sortType == 'artist_name' && sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'artist_name' && !sortReverse" class="fa fa-caret-up"></span>
                </th>
                <th>
                    <a href="" ng-click="sortType = 'release_date' ; sortReverse = !sortReverse">Release Date</a>
                    <span ng-show="sortType == 'release_date' && sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'release_date' && !sortReverse" class="fa fa-caret-up"></span>
                </th>
                <th>
                    <a href="" ng-click="sortType = 'num_tracks' ; sortReverse = !sortReverse">Number of Tracks</a>
                    <span ng-show="sortType == 'num_tracks' && sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'num_tracks' && !sortReverse" class="fa fa-caret-up"></span>
                </th>
                <th>
                    <a href="" ng-click="sortType = 'length' ; sortReverse = !sortReverse">Length</a>
                    <span ng-show="sortType == 'length' && sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'length' && !sortReverse" class="fa fa-caret-up"></span>
                </th>
            </tr>
            <tr ng-repeat="album in albums | orderBy:sortType:sortReverse">
                <td>
                    <a href="#/albums/{{album.id}}">
                        <img class="albumCover" ng-src={{album.col_img.url}}>
                        <span class="detailsLink">Details</span>
                    </a>
                </td>
                <td>{{album.name}}</td>
                <td>{{album.artist_name}}</td>
                <td>{{album.release_date}}</td>
                <td>{{album.num_tracks}}</td>
                <td>{{album.length}}</td>
            </tr>
        </table>
        <nav>
            <ul class="pagination pagination-lg">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li ng-class="{'active' : pageNumber == 1}"><a href="" ng-click="changePage(1)">1</a></li>
                <li ng-class="{'active' : pageNumber == 2}"><a href="" ng-click="changePage(2)">2</a></li>
                <li ng-class="{'active' : pageNumber == 3}"><a href="" ng-click="changePage(3)">3</a></li>
                <li ng-class="{'active' : pageNumber == 4}"><a href="" ng-click="changePage(4)">4</a></li>
                <li ng-class="{'active' : pageNumber == 5}"><a href="" ng-click="changePage(5)">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>