<div class="bodyText">
    <span class="title">Albums</span>
    <div ng-controller="AlbumTableCtrl">
        <table class="table" id="albumTable">
            <tr>
                <th id="albumCoverHeader"></th>
                <th>
                    <a href="" ng-click="sortType = 'name' ; sortReverse = !sortReverse">Album Name</a>
                    <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-up"></span>
                </th>
                <th>
                    <a href="" ng-click="sortType = 'artist_name'; sortReverse = !sortReverse">Artist Name</a>
                    <span ng-show="sortType == 'artist_name' && sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'artist_name' && !sortReverse" class="fa fa-caret-up"></span>
                </th>
                <th>
                    <a href="" ng-click="sortType = 'release_date' ; sortReverse = !sortReverse">Release Date</a>
                    <span ng-show="sortType == 'release_date' && sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'release_date' && !sortReverse" class="fa fa-caret-up"></span>
                </th>
                <th>
                    <a href="" ng-click="sortType = 'num_tracks' ; sortReverse = !sortReverse">Number of Tracks</a>
                    <span ng-show="sortType == 'num_tracks' && sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'num_tracks' && !sortReverse" class="fa fa-caret-up"></span>
                </th>
                <th>
                    <a href="" ng-click="sortType = 'length' ; sortReverse = !sortReverse">Length</a>
                    <span ng-show="sortType == 'length' && sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'length' && !sortReverse" class="fa fa-caret-up"></span>
                </th>
            </tr>
            <tr ng-repeat="album in albums | orderBy:sortType:sortReverse">
                <td>
                    <img class="albumCover" ng-src={{album.col_img}}></a></td>
                <td>{{album.name}}</td>
                <td>{{album.artist_name}}</td>
                <td>{{album.release_date}}</td>
                <td>{{album.num_tracks}}</td>
                <td>{{album.length}}</td>
            </tr>
        </table>
    </div>
</div>
<nav>
    <ul class="pagination pagination-lg">
        <li>
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>