<div class="bodyText">
    <div ng-controller="ArtistDetailsCtrl">
        <div class="row">
            <div id="artistDiv" class="boxSection col-sm-4 col-md-4">
                <span id="artistTitle">{{name}}</span>
                <img ng-src="{{artistPhoto}}">
            </div>
            <div class="col-xs-6 col-md-8">
                <div class="boxSection">
                	<span id="artistTitle">Artist Info</span>
                </div>
            </div>
        </div>
        <div class="row">
        	<div class="boxSection col-md-8 col-md-offset-4">
        		<span id="artistTitle">Artist News</span>
        	</div>
        </div>
    </div>
</div>