<div class="bodyText">
    <span class="title">Artists</span>
    <div class="artist-table-container" ng-controller="ArtistTableCtrl">
        <table class="table artistTable">
            <tr>
                <th></th>
                <th>
                    <a href="" ng-click="sortType = 'name' ; sortReverse = !sortReverse">Artist Name</a>
                    <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-up"</span>
                </th>
                <th>
                    <a href="" ng-click="sortType = 'num_albums'; sortReverse = !sortReverse">Number of Albums Released</a>
                    <span ng-show="sortType == 'num_albums' && sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'num_albums' && !sortReverse" class="fa fa-caret-up"</span>
                </th>
                <th>
                    <a href="" ng-click="sortType = 'recent_album' ; sortReverse = !sortReverse">Most Recent Album</a>
                    <span ng-show="sortType == 'recent_album' && sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'recent_album' && !sortReverse" class="fa fa-caret-up"</span>
                </th>
                <th>
                    <a href="" ng-click="sortType = 'top_track' ; sortReverse = !sortReverse">Top Track</a>
                    <span ng-show="sortType == 'top_track' && sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'top_track' && !sortReverse" class="fa fa-caret-up"</span>
                </th>
                <th>
                    <a href="" ng-click="sortType = 'popularity' ; sortReverse = !sortReverse">Popularity</a>
                    <span ng-show="sortType == 'popularity' && sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'popularity' && !sortReverse" class="fa fa-caret-up"</span>
                </th>
                <tr ng-repeat="artist in artists | orderBy:sortType:sortReverse">
                    <td>
                        <a ng-href="#/artists/{{artist.id}}"><img class="artistImg" ng-src={{artist.col_img}}></a>
                    </td>
                    <td>{{artist.name}}</td>
                    <td>{{artist.num_albums}}</td>
                    <td>{{artist.last_album.name}}</td>
                    <td>{{artist.top_track.name}}</td>
                    <td>{{artist.popularity}}</td>
                </tr>
        </table>
    </div>
</div>
<nav>
    <ul class="pagination pagination-lg">
        <li>
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>