<link href="../css/search.css" rel="stylesheet">
<div class="bodyText" ng-controller="SearchCtrl">
    <span class="title" ng-show="!searchTerm">Searching...</span>
    <span class="title" ng-show="searchTerm">Search Results for '{{searchTerm}}'</span>
    <button class="btn btn-sm" ng-click="toggleSwitch('and')"
            ng-class="{'switch-btn' : (switch == 'and')}">And</button>
    <button class="btn btn-sm" ng-click="toggleSwitch('or')"
            ng-class="{'switch-btn' : (switch == 'or')}">Or</button>
    <div>
        <div ng-show="table == 'albums' || table == 'all'">
            <span class="tableTitle">Albums</span>
            <p ng-show="displayed_albums.length == 0">No albums found!</p>
            <table class="table searchTable" ng-show="displayed_albums.length != 0">
                <tr>
                    <th class="imgCol"></th>
                    <th id="albumCol">
                        <span class="colHeader">Album Name</span>
                    </th>
                    <th class="contextCol">
                        <span class="colHeader">Context</span>
                    </th>
                </tr>
                <tr ng-repeat="album in displayed_albums">
                    <td>
                        <a href="#/albums/{{album.id}}">
                            <img class="colImg" ng-src={{album.img}}>
                            <span class="detailsLink">Details</span>
                        </a>
                    </td>
                    <td>{{album.name}}</td>
                    <td ng-bind-html="album.context"></td>
                </tr>
            </table>

            <hr>
        </div>

        <div ng-show="table == 'artists' || table == 'all'">
            <span class="tableTitle">Artists</span>
            <p ng-show="displayed_artists.length == 0">No artists found!</p>
            <table class="table searchTable" ng-show="displayed_artists.length != 0">
                <tr>
                    <th class="imgCol"></th>
                    <th id="artistCol">
                        <span class="colHeader">Artist Name</span>
                    </th>
                    <th class="contextCol">
                        <span class="colHeader">Context</span>
                    </th>
                </tr>
                <tr ng-repeat="artist in displayed_artists">
                    <td>
                        <a href="#/artists/{{artist.id}}">
                            <img class="colImg" ng-src={{artist.img}}>
                            <span class="detailsLink">Details</span>
                        </a>
                    </td>
                    <td>{{artist.name}}</td>
                    <td ng-bind-html="artist.context"></td>
                </tr>
            </table>

            <hr>
        </div>

        <div ng-show="table == 'tracks' || table == 'all'">
            <span class="tableTitle">Tracks</span>
            <p ng-show="displayed_tracks.length == 0">No tracks found!</p>
            <table class="table searchTable" ng-show="displayed_tracks.length != 0">
                <tr>
                    <th class="imgCol"></th>
                    <th id="trackCol">
                        <span class="colHeader">Track Name</span>
                    </th>
                    <th class="contextCol">
                        <span class="colHeader">Context</span>
                    </th>
                </tr>
                <tr ng-repeat="track in displayed_tracks">
                    <td>
                        <a href="#/tracks/{{track.id}}">
                            <img class="colImg" ng-src={{track.img}}>
                            <span class="detailsLink">Details</span>
                        </a>
                    </td>
                    <td>{{track.name}}</td>
                    <td ng-bind-html="track.context"></td>
                </tr>
            </table>
        </div>
    </div>
</div>