<link href="../css/splash.css?version=2.1" rel="stylesheet">
<div class="inner cover">
    <img src="../imgs/instruments.png" id="splashImg">
    <p id="titleText">
        Sweet Music
    </p>
    <p id="smallText">
        Search and explore information about your favorite artists, albums, and tracks.
    </p>
    <div class="input-group input-group-sm" id="searchArea">
        <input type="text" class="form-control" placeholder="Search the database"
               aria-label="..." ng-model="searchTerm" ng-keydown="$event.which === 13 && search()">
        <div class="input-group-btn">
            <button type="button" id="dropdown-search" class="btn btn-default droptown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Search All Tables&nbsp;<span class="caret"></span></button>
            <ul class="dropdown-menu dropdown-menu-right">
                <li><a href="#/results/all/{{searchTerm}}">Search All Tables</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#/results/artists/{{searchTerm}}">Search Artists</a></li>
                <li><a href="#/results/albums/{{searchTerm}}">Search Albums</a></li>
                <li><a href="#/results/tracks/{{searchTerm}}">Search Tracks</a></li>
            </ul>
        </div>
    </div>
</div>