<div class="bodyText">
    <div ng-controller="TrackDetailsCtrl" class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <div class="boxSection">
                            <span id="albumTitle">{{targetTrack.name}}</span>
                            <img id="albumCover" src="{{albumCover}}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="boxSection">
                            <span class="boxTitle">Details</span>
                            <table>
                                <tr>
                                    <td class="headerCol">By:</td>
                                    <td>
                                        <span ng-repeat="artist in targetTrack.artists">
                                            <a href="#/artists/{{artist.artist_id}}">{{artist.artist_name}}</a>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="headerCol">Release Date:</td>
                                    <td>{{targetTrack.release_date}}</td>
                                </tr>
                                <tr>
                                    <td class="headerCol">Length:</td>
                                    <td>{{targetTrack.duration}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <div class="boxSection" id="widgetSection">
                            <span class="boxTitle">Play on Spotify</span>
                            <iframe ng-src="{{widget}}" id="spotifyWidget"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>