<link href="../css/tracks.css" rel="stylesheet">
<div class="bodyText">
    <span class="title">Tracks</span>
    <div ng-controller="TrackTableCtrl">
        <table class="table trackTable">
            <tr>
                <th id="trackCoverHeader"></th>
                <th id="trackCol">
                    <a href="" ng-click="sortType = 'track_title' ; sortReverse = !sortReverse; sort()">Track Title</a>
                    <span ng-show="sortType == 'track_title' && sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'track_title' && !sortReverse" class="fa fa-caret-up"></span>
                </th>
                <th id="artistCol">
                    <a href="" ng-click="sortType = 'artist_name'; sortReverse = !sortReverse; sort()">Artist Name</a>
                    <span ng-show="sortType == 'artist_name' && sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'artist_name' && !sortReverse" class="fa fa-caret-up"></span>
                </th>
                <th id="releaseDateCol">
                    <a href="" ng-click="sortType = 'release_date' ; sortReverse = !sortReverse; sort()">Release Date</a>
                    <span ng-show="sortType == 'release_date' && sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'release_date' && !sortReverse" class="fa fa-caret-up"></span>
                </th>
                <th id="albumCol">
                    <a href="" ng-click="sortType = 'album_name' ; sortReverse = !sortReverse; sort()">Album</a>
                    <span ng-show="sortType == 'album_name' && sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'album_name' && !sortReverse" class="fa fa-caret-up"></span>
                </th>
                <th id="durationCol">
                    <a href="" ng-click="sortType = 'duration' ; sortReverse = !sortReverse; sort()">Duration</a>
                    <span ng-show="sortType == 'duration' && sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'duration' && !sortReverse" class="fa fa-caret-up"></span>
                </th>
            </tr>
            <tr ng-repeat="track in all_tracks">
                <td>
                    <a href="#/tracks/{{track.id}}">
                        <img class="trackCover" ng-src={{track.col_img.url}}>
                        <span class="detailsLink">Details</span>
                    </a>
                </td>
                <td>{{track.name}}</td>
                <td>{{track.artist_name}}</td>
                <td>{{track.release_date}}</td>
                <td>{{track.album_name}}</td>
                <td>{{track.duration}}</td>
            </tr>
        </table>
        <uib-pagination
            ng-model="pageNumber"
            total-items="totalTracks"
            max-size="maxSize"
            boundary-links="true"
            ng-change="changePage()">
        </uib-pagination>
    </div>
</div>