.headshot {
    border-radius: 50%;
    background-color: #43DAAD;
    width: 150px;
    height: 150px;
    margin-bottom: 2rem;
}

.name {
    font-weight: 700;
    font-size: 2rem;
    display: block;
}

.profile {
    text-align: center;
}

.statsList {
    margin-top: 1rem;
    margin-bottom: 4rem;
    text-align: center;
}

@media (min-width: 992px) {
    .statsList {
        margin-bottom: 0rem;
    }
}

.aboutSection {
    margin-bottom: 6rem;
}

@media (min-width: 992px) {
    .aboutSection {
        margin-bottom: 12rem;
    }
}

.innerRow {
    margin-bottom: 0rem;
}

@media (min-width: 992px) {
    .innerRow {
        margin-bottom: 4rem;
    }
}

.clearBtn {
    background-color: #6B158E;
    border-color: #5B097D;
    border-radius: 10px;
    text-decoration: none !important;
}

.clearBtn:hover {
    background-color: #fff;
    color: #6B158E;
    text-decoration: none;
    -o-transition: .4s;
    -ms-transition: .4s;
    -moz-transition: .4s;
    -webkit-transition: .4s;
    transition: .4s;
}

.col-margin {
    margin-bottom: 20px;
}

@media (max-width: 991px) {
    [class*="col-"] {
        margin-bottom: 20px;
    }
}

pre {
    margin-top: 20px;
}