.albumTable {
  border-radius: 25px;
  color: rgba(0, 0, 0, 0.75);
  background-color: #fdfdfd;
  table-layout: fixed;
}

.albumTable th {
  border: 0px !important;
  text-align: center !important;
}

.albumTable a {
  color: #ee6e73;
}

.albumTable td {
  vertical-align: middle;
}

#albumCoverHeader {
  width: 64px;
  text-align: center;
}

.albumCover {
  margin-left: 15px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 7px;
  margin-bottom: 0px;
  object-fit: cover;
}

.detailsLink {
  font-size: 1.5rem;
  display: block;
  margin-left: 9px;
  text-align: center;
}

#albumCol {
  width: 35%;
}

#artistCol {
  width: 22.5%;
}

#releaseDateCol {
  width: 15%;
}

#numTracksCol {
  width: 12.5%;
}

#lengthCol {
  width: 12.5%;
}
