#albumTable {
  border-radius: 25px;
  color: #5B097D;
  background-color: #fff;
}

#albumTable th {
  border: 0px !important;
  text-align: center !important;
}

#albumTable a {
  color: #5B097D;
}

#albumTable td {
  vertical-align: middle;
}

#albumCoverHeader {
  width: 64px;
}

.albumCover {
  margin-left: 15px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 7px;
  margin-bottom: 0px;
  object-fit: cover;
}

.detailsLink {
  font-size: 1rem;
  display: block;
}