.albumCover {
    margin-bottom: 20px;
    /*border: 10px #fff solid;*/
}

.pagination > li > a {
    color: #5B097D;
}

.pagination > .active > a {
    background-color: #5B097D;
    border-color: #5B097D;
}

.pagination > .active > a:hover {
    background-color: #6B158E;
    border-color: #6B158E;
}

.pagination > .active > a:focus {
    background-color: #6B158E;
    border-color: #6B158E;
}

th.artist-table-header:nth-child(1),
th.artist-table-header:nth-child(6) {
    border-top: none;
}

.artistTable {
    border-radius: 25px;
    color: #5B097D;
    background-color: #fff;
}

.artistTable th {
    border: 0px !important;
    text-align: center;
}

.artistTable a {
    color: #5B097D;
}

.artistTable td {
    vertical-align: middle !important;
}

.artistImg {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 7px;
    margin-bottom: 0px;
    object-fit: cover;
}

.detailsLink {
  font-size: 1rem;
  display: block;
}