.albumCover {
    margin-bottom: 20px;
    /*border: 10px #fff solid;*/
}

th.artist-table-header:nth-child(1),
th.artist-table-header:nth-child(6) {
    border-top: none;
}

.artistTable {
    border-radius: 25px;
    color: rgba(0, 0, 0, 0.75);
    background-color: #fdfdfd;
}

.artistTable th {
    border: 0px !important;
    text-align: center;
}

.artistTable a {
    color: #ee6e73;
}

.artistTable td {
    vertical-align: middle !important;
}

.artistImg {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 7px;
    margin-bottom: 0px;
    object-fit: cover;
}

.detailsLink {
  font-size: 1.5rem;
  display: block;
}

#imgCol {
    width: 2.5%;
}

#artistCol {
    width: 25%;
}

#numAlbumsCol {
    width: 15%;
}

#recentAlbumCol {
    width: 25%;
}

#topTrackCol {
    width: 25%;
}

#popularityCol {
    width: 7.5%;
}
