.searchTable th a {
    text-align: center;
}

.tableTitle {
    font-size: 4rem;
    font-family: 'Roboto Slab', sans-serif;
    display: block;
    color: #009688;
}

.imgCol {
    width: 10%
}

#albumCol,
#artistCol,
#trackCol {
    width: 45%;
    text-align: center;
}

.contextCol {
    width: 45%;
    text-align: center;
}

.colImg {
    border-radius: 50%;
    display: block;
    text-align: center;
    margin: auto;
    width: 50px;
    object-fit: cover;
}

.detailsLink {
    display: block;
}

label {
    margin: auto;
    text-align: center;
    color: #fff;
}

.switch-light {
    width: 100px;
}

.switch-btn {
    background-color: #009688;
    border-color: #009688;
}

.well {
    background-color: #75BAB3;
}

.context {
    font-weight: 700;
}

.colHeader {
    font-weight: 700;
    color: #ee6e73;
}

.btn {
    color: #fff;
    font-weight: 700;
    margin-bottom: 20px;
}

.btn:focus,
.btn:hover {
    color: #fff;
}

.nav-container {
    margin-bottom: 0px;
    margin-top: 0px;
}

.nav-div {
    vertical-align: top;
    padding-top: 5px;
    text-align: center;
}

.nav-div ul {
    margin: auto;
    width: 100%;
}