.searchTable th a {
    text-align: center;
}

.tableTitle {
    font-size: 4rem;
    font-family: 'Roboto Slab', sans-serif;
    display: block;
    color: #009688;
}

.imgCol {
    width: 20%
}

#albumCol, #artistCol, #trackCol {
    width: 40%;
    text-align: center;
}

.contextCol {
    width: 40%;
    text-align: center;
}

.colImg {
    border-radius: 50%;
    display: block;
    text-align: center;
    margin: auto;
    width: 50px;
    object-fit: cover;
}

.detailsLink {
    display: block;
}

label {
    margin: auto;
    text-align: center;
    color: #fff;
}

.switch-light {
    width: 100px;
}

.switch-btn {
    background-color: #009688;
    border-color: #009688;
}

.well {
    background-color: #75BAB3;
}