html,
body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-color: #ee6e73;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left bottom;
    background-image: url('../imgs/splash.png');
    background-size: contain;
    font-family: 'Roboto', sans-serif;
}

@media (min-width: 768px) {
    /* Pull out the header and footer */
    .masthead {
        position: fixed;
        top: 0;
    }
    .mastfoot {
        position: fixed;
        bottom: 0;
    }
    /* Start the vertical centering */
    .site-wrapper-inner {
        vertical-align: middle;
    }
    /* Handle the widths */
    .masthead,
    .mastfoot,
    .cover-container {
        width: 100%;
        /* Must be percentage or pixels for horizontal alignment */
    }
}

@media (min-width: 992px) {
    .masthead,
    .mastfoot,
    .cover-container {
        width: 850px;
    }
}

h1 {
    margin: 0 auto;
}

.title {
    padding: 5px 0;
    font-weight: 700;
    font-size: 9.5rem;
    display: inline-block;
    font-weight: bold;
    position: relative;
}

#titleText {
    color: #fff;
    text-shadow: 5px 5px #9c484c;
    /*font-weight: 700;*/
    font-size: 10rem;
    text-align: center;
    font-family: 'Pacifico';
    margin: 0;
}

@media (min-width: 768px) {
    #titleText {
        font-size: 15rem;
    }
}

#smallText {
    color: #fff;
    font-family: 'Roboto Slab', sans-serif;
    text-align: center;
    font-size: 2rem;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 25px;
}

@media (min-width: 768px) {
    #smallText {
        font-size: 2.5rem;
        padding: 0;
    }
}

#searchArea {
    width: 400px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

@media (min-width: 768px) {
    #searchArea {
        padding: 0;
    }
}

.btn {
    color: #fff;
    background-color: #26A69A;
    border-color: #1d8076;
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}

.btn:hover {
    color: #fff;
    background-color: #2ecabb;
    border-color: #1d8076;
}

.dropdown-menu li a{
    color: #1d8076;
}

.dropdown-menu li a:hover{
    color: #1d8076;
}

input[type="text"]:focus {
    border-color: rgba(156, 72, 76, 1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(156, 72, 76, 0.8);
}

.masthead-brand a {
    color: #fff;
}

.masthead-nav > li > a {
  color: #fff;
  color: rgba(255, 255, 255, 0.75);
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  border-bottom-color: #fff;
  color: rgba(255, 255, 255, 1.0);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: rgba(255, 255, 255, 1.0);
  color: rgba(255, 255, 255, 1.0);
}
