h1 {
    margin: 0 auto;
}

#smallText {
    margin-top: 2rem;
    font-weight: 700;
}

#logo {
    width: 400px;
}

@media (min-width: 768px) {
    #logo {
        width: 550px;
    }
}

@media (min-width: 992px) {
    #logo {
        width: 600px;
    }
}