{% extends "base.html" %}

{% block head %}
<link href="css/about.css" rel="stylesheet">
{% endblock %}

{% block nav %}
<nav>
    <ul class="nav masthead-nav">
        <li class="active"><a href="/about">About</a></li>
        <li><a href="/albums">Albums</a></li>
        <li><a href="/artists">Artists</a></li>
        <li><a href="/tracks">Tracks</a></li>
    </ul>
</nav>
{% endblock %}

{% block body %}
<div class="bodyText">
    <span class="title">Team Members</span>
    <div class="aboutSection">
        <div class="row innerRow">
            <div class="col-md-4 profile">
                <img class="headshot" src="imgs/headshot.png">
                <span class="name">Daniel Abrego</span>
                <ul class="list-unstyled statsList">
                    <li>x commits</li>
                    <li>y issues</li>
                    <li>z unit tests</li>
                    <li><br>Responsibility 1, Responsibility 2, Responsibility 3</li>
                    <li><br>This is an example biography. Here is some more sample text for this person's biography.</li>
                </ul>
            </div>
            <div class="col-md-4 profile">
                <img class="headshot" src="imgs/headshot.png">
                <span class="name">Ragan Behrens</span>
                <ul class="list-unstyled statsList">
                    <li>x commits</li>
                    <li>y issues</li>
                    <li>z unit tests</li>
                    <li><br>Responsibility 1, Responsibility 2, Responsibility 3</li>
                    <li><br>This is an example biography. Here is some more sample text for this person's biography.</li>
                </ul>
            </div>
            <div class="col-md-4 profile">
                <img class="headshot" src="imgs/headshot.png">
                <span class="name">Kristine Domingo</span>
                <ul class="list-unstyled statsList">
                    <li>x commits</li>
                    <li>y issues</li>
                    <li>z unit tests</li>
                    <li><br>Responsibility 1, Responsibility 2, Responsibility 3</li>
                    <li><br>This is an example biography. Here is some more sample text for this person's biography.</li>
                </ul>
            </div>
        </div>
        <div class="row innerRow">
            <div class="col-md-4 profile">
                <img class="headshot" src="imgs/headshot.png">
                <span class="name">Jorge Munoz</span>
                <ul class="list-unstyled statsList">
                    <li>x commits</li>
                    <li>y issues</li>
                    <li>z unit tests</li>
                    <li><br>Responsibility 1, Responsibility 2, Responsibility 3</li>
                    <li><br>This is an example biography. Here is some more sample text for this person's biography.</li>
                </ul>
            </div>
            <div class="col-md-4 profile">
                <img class="headshot" src="imgs/headshot.png">
                <span class="name">Micah Ramirez</span>
                <ul class="list-unstyled statsList">
                    <li>x commits</li>
                    <li>y issues</li>
                    <li>z unit tests</li>
                    <li><br>Responsibility 1, Responsibility 2, Responsibility 3</li>
                    <li><br>This is an example biography. Here is some more sample text for this person's biography.</li>
                </ul>
            </div>
            <div class="col-md-4 profile">
                <img class="headshot" src="imgs/headshot.png">
                <span class="name">????????????</span>
                <ul class="list-unstyled statsList">
                    <li>x commits</li>
                    <li>y issues</li>
                    <li>z unit tests</li>
                    <li><br>Responsibility 1, Responsibility 2, Responsibility 3</li>
                    <li><br>This is an example biography. Here is some more sample text for this person's biography.</li>
                </ul>
            </div>
        </div>
    </div>
    <span class="title">Team Statistics</span>
    <div class="aboutSection">
        <div class="row innerRow">
            <div class="col-md-4">
                Total Number of Commits: xxx
            </div>
            <div class="col-md-4">
                Total Number of Issues: yy
            </div>
            <div class="col-md-4">
                Total Number of Unit Tests: zzz
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <a href="#" class="btn btn-primary clearBtn">Apiary API</a>
            </div>
            <div class="col-sm-3">
                <a href="#" class="btn btn-primary clearBtn">GitHub Issue Tracker</a>
            </div>
            <div class="col-sm-3">
                <a href="#" class="btn btn-primary clearBtn">GitHub Repository</a>
            </div>
            <div class="col-sm-3">
                <a href="#" class="btn btn-primary clearBtn">GitHub Wiki</a>
            </div>
        </div>
    </div>
    <span class="title">Data Sources</span>
    <div class="aboutSection">
        <div class="row">
            <div class="col-md-4">
                <a href="#">Data Source #1</a>
                <br> This is a description of how this data source was used. It would probably include where it was used and for what purpose.
            </div>
            <div class="col-md-4">
                <a href="#">Data Source #2</a>
                <br> This is a description of how this data source was used. It would probably include where it was used and for what purpose.
            </div>
            <div class="col-md-4">
                <a href="#">Data Source #3</a>
                <br> This is a description of how this data source was used. It would probably include where it was used and for what purpose.
            </div>
        </div>
    </div>
    <span class="title">Tools Used</span>
    <div class="aboutSection">
        <div class="row innerRow">
            <div class="col-md-3">
                <a href="#">Tool</a>
                <br> What this tool was used for
            </div>
            <div class="col-md-3">
                <a href="#">Tool</a>
                <br> What this tool was used for
            </div>
            <div class="col-md-3">
                <a href="#">Tool</a>
                <br> What this tool was used for
            </div>
            <div class="col-md-3">
                <a href="#">Tool</a>
                <br> What this tool was used for
            </div>
        </div>
        <div class="row innerRow">
            <div class="col-md-3">
                <a href="#">Tool</a>
                <br> What this tool was used for
            </div>
            <div class="col-md-3">
                <a href="#">Tool</a>
                <br> What this tool was used for
            </div>
            <div class="col-md-3">
                <a href="#">Tool</a>
                <br> What this tool was used for
            </div>
            <div class="col-md-3">
                <a href="#">Tool</a>
                <br> What this tool was used for
            </div>
        </div>
    </div>
    <span class="title">Credits</span>
    <div class="aboutSection">
        Logo from
        <a href='http://www.freepik.com/free-vector/retro-music-brand-logos_814242.htm'>
            Freepik</a> (modified for this website's use).
    </div>
</div>
{% endblock %}
