<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Fira+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

    <title>SWEet Music</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/artists.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="site-wrapper">

      <div class="cover-container">

        <div class="masthead clearfix">
          <div class="inner">
            <h3 class="masthead-brand">
              <a href="/">SWEet Music</a>
            </h3>
            <nav>
              <ul class="nav masthead-nav">
                <li><a href="/about">About</a></li>
                <li><a href="/albums">Albums</a></li>
                <li class="active"><a href="/artists">Artists</a></li>
                <li><a href="/tracks">Tracks</a></li>
              </ul>
            </nav>
          </div>
        </div>

        <div class="bodyText">
          <span class="title">Artists</span>
          <table class="table">
            <tr>
              <th>Artist Name</th>
              <th>Genre(s)</th>
              <th>Number of Albums Released</th>
              <th>Most Recent Album</th>
              <th>Top Track</th>
            </tr>
            <tr>
              <td>Name #1</td>
              <td>Genre #1</td>
              <td>xx</td>
              <td>Album #1</td>
              <td>Track #1
            </tr>
            <tr>
              <td>Name #2</td>
              <td>Genre #2</td>
              <td>xx</td>
              <td>Album #2</td>
              <td>Track #1
            </tr>
            <tr>
              <td>Name #3</td>
              <td>Genre #3</td>
              <td>xx</td>
              <td>Album #3</td>
              <td>Track #1
            </tr>
          </table>
        </div>

        <nav>
        <ul class="pagination pagination-lg">
          <li>
            <a href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li>
            <a href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>

        <div class="mastfoot">
          <div class="inner">
          </div>
        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
