{% extends "base.html" %} {% block head %}
<link href="css/artists.css" rel="stylesheet"> {% endblock %} {% block body %}
<div class="bodyText">
    <span class="title">Artists</span>
    <div class="artist-table-container" ng-controller="ArtistTableCtrl">
    <table class="table artist">
        <tr>
            <th class="artist-table-header"></th>
            <th class="artist-table-header">Artist Name</th>
            <th class="artist-table-header">Number of Albums Released</th>
            <th class="artist-table-header">Most Recent Album</th>
            <th class="artist-table-header">Top Track</th>
        {% raw %}
        <tr ng-repeat="artist in artists">
            <td><div class="artist-img-sml"><img class="artist-cover-sml" src="imgs/cover.png" height="64" width="64"><img src={{artist.col_img}} height="64" width="64"></div></td>
            <td>{{artist.name}}</td>
            <td>{{artist.num_albums}}</td>
            <td>{{artist.last_album}}</td>
            <td>{{artist.top_track}}</td>
        </tr>
        {% endraw %}
    </table>
    </div>
</div>
<nav>
    <ul class="pagination pagination-lg">
        <li>
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
{% endblock %}
