{% extends "base.html" %} 
{% block head %}
  <link href="css/artists.css" rel="stylesheet">
{% endblock %}
{% block body %}
<div class="bodyText">
    <span class="title">Artists</span>
    <table class="table">
        <tr>
            <th class="artist-table-header">Artist Name</th>
            <th class="artist-table-header">Number of Albums Released</th>
            <th class="artist-table-header">Most Recent Album</th>
            <th class="artist-table-header">Top Track</th>
        </tr>
        {% for artist in artists%}
        <tr>
            <td>{{artist.name}}</td>
            <td>{{artist.num_albums}}</td>
            <td>{{artist.last_album}}</td>
            <td>{{artist.top_track}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
<nav>
    <ul class="pagination pagination-lg">
        <li>
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
{% endblock %}
